footer {
  text-align: center;
  a {
    display: inline-block;
    padding: var(--space-sm);
    border-bottom: var(--border-width) dotted var(--gray-dark);
    transition: border-bottom 0.2s, opacity 0.2s;
    opacity: 0.9;
    &:hover {
      border-bottom: var(--border-width) dotted var(--primary-color);
      opacity: 1;
    }
  }
  ul {
    list-style-type: none;
    margin: var(--space) 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: auto var(--space);
    }
  }
  p {
    &:first-of-type {
      margin-top: calc(var(--space-lg) * 2);
    }
    font-size: var(--text-sm);
    color: var(--gray-dark);
  }
}
