header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: var(--space);
    @media screen and(min-width : 600px) {
      flex-direction: row;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      padding: var(--space);
    }
  }
}
