main {
  background-color: var(--primary-color);
  background-image: linear-gradient(-165deg, var(--primary-color) 70%, orange,  );
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: var(--space-lg);
  h1, h2, h3, h4, h5, h6 {
    text-shadow: none;
    color: var(--black);
    font-weight: 800;
    letter-spacing: -0.06em;
  }
  h2 {
    font-size: var(--text-xl);
    margin-bottom: 0;
  }
  h2 + p {
    margin-top: 0;
  }

  p {
    font-weight: 700;
    letter-spacing: -0.04em;
    font-size: var(--text-lg);
  }
  .card {
    color: var(--gray-dark);
    background-color: var(--white);
    text-shadow: none;
  }
}
