@import "footer";
@import "main";
@import "header";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--black);
}
:root {
  --primary-color: #ffd100;
  --gray-dark: #4a5568;
  --gray: #a0aec0;
  --black: #0d0f16;
  --white: #fff;
  --border-radius: 5px;
  --border-width: 2px;

  --space-sm: 5px;
  --space: 10px;
  --space-lg: 20px;

  --text-sm: 0.8rem;
  --text-lg: 1.25rem;
  --text-xl: 3rem;
}
#app {
  display: grid;
  grid-template-rows: auto auto auto;
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
